.chart rect {
  font: 12px sans-serif;
  background-color: steelblue;
  fill: steelblue;
  text-align: right;
  white-space:nowrap;
  overflow:visible;
  padding: 3px;
  margin: 1px;
  
  
}

.chart rect:hover {
    fill :#ece7f2;
} 
.axis path,
.axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
    font-size: 11px;
 
}

